 body{
 	background-image: url(img/weather.gif); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 110%; 
    font-family: 'Shrikhand', cursive;
}

header{
	font-size: 2.5rem;
	text-align: center;
	letter-spacing: 3px;
}

main{
	font-size: 2rem;
	text-align: center;
	letter-spacing: 3px;

}

footer{
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 250px;

}

span{
	background-color: #C6E2FF;
	margin-left:15px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}